services/auth-maintenances.wsdl

<?xml version="1.0" encoding="UTF-  "?>
<wsdl:definitions targetNamespace="http://10.53.93.34/AuthServices" 
  xmlns:s="http://www.w3.org/2001/XMLSchema" 
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
  xmlns:tns="http://10.53.93.34/AuthServices" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://10.53.93.34/AuthServices">
      <s:element name="MaintenanceSessionRequest">
        <s:complexType>
          <s:sequence>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MaintenanceSessionResponse">
        <s:complexType>
              <s:sequence>
                  <s:element name="Result">
                      <s:complexType>
                          <s:sequence>
                              <s:element name="ResultCode" type="s:string"/>
                              <s:element name="ResultDesc" type="s:string"/>
                          </s:sequence>
                      </s:complexType>
                  </s:element>
              </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <!-- MESSAGES: defines the data being exchanged between the service and client -->
  <wsdl:message name="MaintenanceSessionSoapIn">
    <wsdl:part name="parameters" element="tns:MaintenanceSessionRequest"/>
  </wsdl:message>
  <wsdl:message name="MaintenanceSessionSoapOut">
    <wsdl:part name="parameters" element="tns:MaintenanceSessionResponse"/>
  </wsdl:message>
  <!-- PORT TYPES: defines the complete communication operation (one way/round trip) -->
  <wsdl:portType name="MaintenanceSoapPort">
    <!-- The operation name must be the same as the one specified in the service object -->
    <wsdl:operation name="MaintenanceSessionId">
      <wsdl:input message="tns:MaintenanceSessionSoapIn"/>
      <wsdl:output message="tns:MaintenanceSessionSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <!-- BINDING: provides details on how a portType operation will actually be transmitted -->
  <wsdl:binding name="MaintenanceSessionSoapBinding" type="tns:MaintenanceSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="MaintenanceSessionId">
      <soap:operation soapAction="MaintenanceSessionId" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <!-- SERVICE:  -->
  <wsdl:service name="MaintenanceService">
    <wsdl:port name="MaintenanceSoapPort" binding="tns:MaintenanceSessionSoapBinding">
      <soap:address location="http://localhost:3030/wsdl/Maintenance"/>
    </wsdl:port>
  
  </wsdl:service>
</wsdl:definitions>