services/data-services.wsdl

<?xml version="1.0" encoding="UTF-  "?>
<wsdl:definitions targetNamespace="http://tempuri.org/" 
  xmlns:s="http://www.w3.org/2001/XMLSchema" 
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
  xmlns:tns="http://tempuri.org/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDataRequest">
        <s:complexType>
          <s:sequence>
                    </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="name" type="s:string" maxOccurs="unbounded"/>
            <s:element name="age" type="s:string" maxOccurs="unbounded"/>
            <s:element name="city" type="s:string" maxOccurs="unbounded"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <!-- MESSAGES: defines the data being exchanged between the service and client -->
  <wsdl:message name="GetDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataRequest"/>
  </wsdl:message>
  <wsdl:message name="GetDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataResponse"/>
  </wsdl:message>
  <!-- PORT TYPES: defines the complete communication operation (one way/round trip) -->
  <wsdl:portType name="GetDataSoapPort">
    <!-- The operation name must be the same as the one specified in the service object -->
    <wsdl:operation name="GetData">
      <wsdl:input message="tns:GetDataSoapIn"/>
      <wsdl:output message="tns:GetDataSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <!-- BINDING: provides details on how a portType operation will actually be transmitted -->
  <wsdl:binding name="GetDataSoapBinding" type="tns:GetDataSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="GetData" style="document"/>
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </wsdl:operation>
  </wsdl:binding>
  <!-- SERVICE:  -->
  <wsdl:service name="DataService">
    <wsdl:port name="DataPort" binding="tns:GetDataSoapBinding">
      <soap:address location="http://localhost:3030/wsdl/data"/>
    </wsdl:port>
  
  </wsdl:service>
</wsdl:definitions>
